@font-face {
  font-family: 'porta';
  src: url('../fonts/pluton.eot?49924914');
  src: url('../fonts/pluton.eot?49924914#iefix') format('embedded-opentype'),
       url('../fonts/pluton.woff?49924914') format('woff'),
       url('../fonts/pluton.ttf?49924914') format('truetype'),
       url('../fonts/pluton.svg?49924914#porta') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'porta';
    src: url('../font/porta.svg?49924914#porta') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "porta";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  
 
  /* you can be more comfortable with increased icons size */
   /*font-size: 120%; */


 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-plus:before { content: '\e826'; } /* '' */
.icon-email:before { content: '\e825'; } /* '' */
.icon-cog:before { content: '\e823'; } /* '' */
.icon-ok:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-calendar:before { content: '\e10b'; } /* '' */
.icon-help-circled:before { content: '\e81a'; } /* '' */
.icon-location:before { content: '\e81b'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-menu-1:before { content: '\e800'; } /* '' */
.icon-link-ext:before { content: '\e822'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\e81c'; } /* '' */
.icon-angle-left:before { content: '\e81e'; } /* '' */
.icon-angle-right:before { content: '\e81f'; } /* '' */
.icon-angle-up:before { content: '\e820'; } /* '' */
.icon-angle-down:before { content: '\e821'; } /* '' */
.icon-desktop:before { content: '\e814'; } /* '' */
.icon-mobile:before { content: '\e81d'; } /* '' */
.icon-calendar-empty:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\e811'; } /* '' */
.icon-vimeo-circled:before { content: '\e808'; } /* '' */
.icon-twitter-circled:before { content: '\e807'; } /* '' */
.icon-facebook-circled:before { content: '\e80e'; } /* '' */
.icon-gplus-circled:before { content: '\e80d'; } /* '' */
.icon-pinterest-circled:before { content: '\e809'; } /* '' */
.icon-linkedin-circled:before { content: '\e806'; } /* '' */
.icon-dribbble-circled:before { content: '\e80f'; } /* '' */
.icon-stumbleupon-circled:before { content: '\e810'; } /* '' */
.icon-lastfm-circled:before { content: '\e812'; } /* '' */
.icon-skype-circled:before { content: '\e813'; } /* '' */
.icon-globe:before { content: '\e815'; } /* '' */
.icon-award:before { content: '\e816'; } /* '' */
.icon-user:before { content: '\e818'; } /* '' */
.icon-users:before { content: '\e819'; } /* '' */
.icon-chart-bar:before { content: '\e80c'; } /* '' */
.icon-phone:before { content: '\e824'; } /* '' */
.icon-megaphone:before { content: '\e817'; } /* '' */



/* MENU DROPDOWN */

#menudrop {
  text-align: left;
  display: inline;
  margin: 0;
  z-index: 999;
  list-style: none;
}
#menudrop ul li a {
  color:#fff;
}
#menudrop li {
  display: inline-block;
  margin-right: -4px;
  position: relative;  
  z-index: 999;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar > #menudrop li {
    background:; #FECE1A;
    text-transform: uppercase;
    vertical-align: middle;
    margin: 10px 3px;
    border: 1px solid #26323E;
    box-shadow: none;
    font-size: 15px;
    text-shadow: none;
    color: #FFF;
    transition: border-color 1s ease 0s;
    }

#menudrop li:hover {z-index: 999;}
#menudrop ul li {padding: 15px 20px;}

#menudrop li ul {
  background:; #FECE1A;
  text-transform: uppercase;
  z-index: 999;
  padding: 0;
  position: absolute;
  top: 52px;
  left: -22px;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
#menudrop li ul li {
    font-size: 13px;
    z-index: 999;
    display: block;
    color: #FFF;
    background-color: #F4AE1A;
}

#menudrop li ul li:hover { background: #F9CE1A;z-index: 999; }
#menudrop li:hover ul {
  z-index: 999;
  display: block;
  opacity: 1;
  visibility: visible;
}


  /* Borda Topo*/
  #BordaTopo{
    width:100%;
    height: 7px;
  }
  #BordaTopo div{
    width:25%;
    height: 7px;
    float: left;
    top: 0px;
  }
  #BordaTopo .bverde{background-color: #71BA51;}
  #BordaTopo .bamarelo{background-color: #FEC606;}
  #BordaTopo .bazul{background-color: #3D8EB9;}
  #BordaTopo .brosa{background-color: #D33257;}


  #LogoTopo{ 
    width:220px;
    height:90px;
    background-image: url(../images/logo_branco.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px 26px 0px -350px;
    }
  .navbar-fixed-top .navbar-inner  #LogoTopo, .navbar-static-top .navbar-inner #LogoTopo{
    width:220px;
    height:90px;
    background-image: url(../images/logo_azul.png);
    background-repeat: no-repeat;
    background-size: 100%
  }
  
    #LogoTopo2{ 
    width:220px;
    height:90px;
	  margin: 0px 26px 0px -800px;
    background-image: url(../images/logo_branco.png);
    background-repeat: no-repeat;
    background-size: 100%
    }
  .navbar-fixed-top .navbar-inner  #LogoTopo2, .navbar-static-top .navbar-inner #LogoTopo2{
    width:220px;
    height:90px;
    background-image: url(../images/logo_azul.png);
    background-repeat: no-repeat;
    background-size: 100%
  }
  
    .navbar .nav {
    margin: 0px 26px 0px 300px;
    float: left;
}

  /* Topo do Scroll */
  .navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {background-color: #fff;}
  .navbar-fixed-top .navbar-inner li > a, .navbar-static-top .navbar-inner li > a{color: #26323E;}

.img_wallpaper_grid {
    width:320px;
    height:200px;
    padding:20px;
    float: left;
    z-index: -1;
}

.icons_home .service img {
    width: 65%;
    height: auto;
}
.icons_home .img-circle {border-radius: 0px;}
.icons_home .circle-border {
    display: inline-block;
    border-radius: 0px;
    border: none;
    margin-bottom: 20px;
    }

  #home .da-slide p {width: 39%;}
  .imgBanner {margin-left: -50px !important;}
  #home .man img{
  width: 56%;
  margin-top: 15%;
  }